<div class="modal-header">
  <h4 class="modal-title pull-left">Veuillez selectionner un cours</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<table class="table table-hover table-striped">
    <tr>
      <th scope="row">Nom</th>
      <th></th>
    </tr>
    <tr id="list" *ngFor="let cours of courss">
      <td>{{cours.title}}</td>
      <td><button style="margin-left: auto" class="btn btn-success btn-rounded-f" (click)="AddCoursByClasse(cours);" (click)="bsModalRef.hide()"><i class="fas fa-plus"></i></button></td>
    </tr>
</table>
