<form
  class="form-horizontal form-label-left parsleyjs ng-untouched ng-pristine ng-valid"
  [formGroup]="form"
  (submit)="save()"
  #formDir="ngForm"
>
<fieldset>
  <legend >
    Veuillez renseigner les informations ci-dessous...
  </legend>
  <br/>
  <div class="form-group row">
    <label class="form-control-label text-md-right col-4" >Nom</label>
      <div class="col-7">
          <div class="input-group ">
            <span class="input-group-prepend">
              <span class="input-group-text">
                  <i class="glyphicon glyphicon-user" style="width: 10%"></i>
              </span>
            </span>
            <input
              class="form-control form-control-sm"
              formControlName="nom"
              type="text"
              id="prepend-input" style="width: 90%"
              required
            />
        </div>
      </div>
  </div>
  <br />
  <div class="form-group row">
      <label class="form-control-label text-md-right col-4" >Prénom</label>
      <div class="col-7">
          <div class="input-group ">
            <span class="input-group-prepend">
              <span class="input-group-text">
                  <i class="glyphicon glyphicon-user" style="width: 10%"></i>
              </span>
            </span>
            <input
              class="form-control form-control-sm"
              formControlName="prenom"
              type="text"
              id="prepend-input" style="width: 90%"
              required
            />
        </div>
      </div>
  </div>
  <br/>
  <div class="form-group row">
    <label class="form-control-label text-md-right col-4">Date de naissance</label>
        <div class="col-7">
            <div class="input-group">
              <span class="input-group-prepend">
                <span class="input-group-text">
                      <i class="fa fa-calendar"></i>
                </span>
              </span>
              <input
                    formControlName="dateNaissance"
                    class="form-control"
                    type="text"
                    required
                    bsDatepicker [bsConfig]="bsConfig"
                    />
            </div>
        </div>
  </div>
  <br />
  <div class="form-group row">
      <label class="form-control-label text-md-right col-4" >Adresse</label>
      <div class="col-7">
          <div class="input-group ">
            <span class="input-group-prepend">
              <span class="input-group-text">
                  <i class="fa fa-adress-card" style="width: 10%"></i>
              </span>
            </span>
            <input
              class="form-control form-control-sm"
              formControlName="adresse"
              type="text"
              id="prepend-input" style="width: 90%"
              required
            />
        </div>
      </div>
  </div>
  <br />
  <div class="form-group row">
      <label class="form-control-label text-md-right col-4" >Mail</label>
      <div class="col-7">
          <div class="input-group ">
            <span class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-id-badge"></i>
              </span>
            </span>
            <input
              class="form-control form-control-sm"
              formControlName="mail"
              type="email"
              id="prepend-input"
              required
              style="width: 85%"
            />
        </div>
      </div>
  </div>
  <br />
  <div class="form-group row">
      <label class="form-control-label text-md-right col-4" >Téléphone</label>
      <div class="col-7">
          <div class="input-group ">
            <span class="input-group-prepend">
              <span class="input-group-text">
                  <i class="fa fa-phone" ></i>
              </span>
            </span>
            <input
              class="form-control form-control-sm"
              formControlName="telephone"
              type="text"
              id="prepend-input"
              required
              style="width: 85%"
            />
        </div>
      </div>
  </div>
  <br />
  <div class="form-group row">
    <label class="form-control-label text-md-right col-4" >Classe</label>
    <div class="col-7">
        <app-classe-select [form]="form"></app-classe-select>
    </div>
</div>
<br/>
</fieldset>
<div class="form-actions" style="text-align: center;">
  <button
  type="button"
  class="btn btn-outline-danger btn-rounded "
  (click)="close()"
  >
<i class="glyphicon glyphicon-remove"></i>&nbsp;Annuler
</button>
<button type="submit" class="btn btn-success btn-rounded"><i class="glyphicon glyphicon-ok"></i>&nbsp;Valider</button>
</div>
<div style="float:right;margin-left:5px;">
  <h5>
    <span class="badge badge-danger" *ngIf="hasError">{{ error }}</span>
  </h5>
</div>
</form>
