<div class="modal-header">
  <h4 class="modal-title pull-left">Supprimer l'utilisateur {{user.username}} ?</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <h5>Etes vous sûr ?</h5>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="deleteUser(user)" (click)="bsModalRef.hide()">Supprimer</button>
  <button type="button" class="btn btn-outline-secondary" (click)="bsModalRef.hide()">Annuler</button>
</div>
