<form
  class="form-horizontal form-label-left parsleyjs ng-untouched ng-pristine ng-valid"
  [formGroup]="form"
  (submit)="save()"
  #formDir="ngForm"
>
<fieldset>
  <legend >
    Veuillez renseigner les informations ci-dessous...
  </legend>
  <br/>
  <div class="form-group row">
    <label class="form-control-label text-md-right col-3"></label>
    <div class="col-7">
      <div class="input-group ">
        <span class="input-group-prepend"> </span>
        <mat-form-field class="example-full-width">
          <mat-icon matSuffix>contacts</mat-icon>
          <input
            formControlName="nom"
            type="text"
            matInput
            placeholder="Nom"
            #noml
            maxlength="10"
          />
          <mat-hint align="end">{{ noml.value.length }} / 10</mat-hint>
          <mat-error *ngIf="nom.invalid">Veuillez entrer un nom</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="form-control-label text-md-right col-3"></label>
    <div class="col-7">
      <div class="input-group ">
        <span class="input-group-prepend"> </span>
        <mat-form-field class="example-full-width">
          <mat-icon matSuffix>contacts</mat-icon>
          <input
            formControlName="prenom"
            type="text"
            matInput
            placeholder="Prénom"
            #prenoml
            maxlength="10"
          />
          <mat-error *ngIf="prenom.invalid">Veuillez entrer un prénom</mat-error>
          <mat-hint align="end">{{ prenoml.value.length }} / 10</mat-hint>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="form-control-label text-md-right col-3"></label>
    <div class="col-7">
      <div class="input-group ">
        <span class="input-group-prepend"> </span>
        <mat-form-field class="example-full-width">
          <mat-icon matSuffix>contacts</mat-icon>
          <input
            formControlName="adresse"
            type="text"
            matInput
            placeholder="Addresse"
            #adressel
            maxlength="50"
          />
          <mat-hint align="end">{{ adressel.value.length }} / 50</mat-hint>
          <mat-error *ngIf="adresse.invalid">Veuillez entrer une adresse</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="form-control-label text-md-right col-3"></label>
    <div class="col-7">
      <div class="input-group ">
        <span class="input-group-prepend"> </span>
        <mat-form-field class="example-full-width">
          <mat-icon matSuffix>mail</mat-icon>
          <input
            formControlName="mail"
            type="text"
            matInput
            placeholder="Mail"
            #maill
            maxlength="50"
          />
          <mat-hint align="end">{{ maill.value.length }} / 50</mat-hint>
          <mat-error *ngIf="mail.invalid">Veuillez entrer un mail</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="form-control-label text-md-right col-3"></label>
    <div class="col-7">
      <div class="input-group ">
        <span class="input-group-prepend"> </span>
        <mat-form-field class="example-full-width">
          <mat-icon matSuffix>phone</mat-icon>
          <input
            formControlName="telephone"
            type="text"
            matInput
            placeholder="Téléphone"
            #telephonel
            maxlength="10"
          />
          <mat-hint align="end">{{ telephonel.value.length }} / 10</mat-hint>
          <mat-error *ngIf="telephone.invalid">Veuillez entrer un numéro de téléphone</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
<br/>
</fieldset>
<div class="form-actions" style="text-align: center;">
  <button
  type="button"
  class="btn btn-outline-danger btn-rounded "
  (click)="close()"
  >
<i class="glyphicon glyphicon-remove"></i>&nbsp;Annuler
</button>
<button type="submit" class="btn btn-success btn-rounded"><i class="glyphicon glyphicon-ok"></i>&nbsp;Valider</button>
</div>
<div style="float:right;margin-left:5px;">
  <h5>
    <span class="badge badge-danger" *ngIf="hasError">{{ error }}</span>
  </h5>
</div>
</form>
