<div class="container">
  <form
    class="form-horizontal form-label-left parsleyjs ng-untouched ng-pristine ng-valid"
    [formGroup]="form"
    #formDir="ngForm"
    (submit)="save()"
  >
    <fieldset>
      <h5 style="text-align: center;">
        Veuillez renseigner les informations ci-dessous...
      </h5>
      <div class="form-group row">
        <label class="form-control-label text-md-right col-3"></label>
        <div class="col-7">
          <div class="input-group ">
            <span class="input-group-prepend"> </span>
            <mat-form-field class="example-full-width">
              <mat-icon matSuffix>contacts</mat-icon>
              <input
                formControlName="title"
                type="text"
                matInput
                placeholder="Titre"
                #titre
                maxlength="30"
              />
              <mat-hint align="end">{{ titre.value.length }} / 30</mat-hint>
              <mat-error *ngIf="title.invalid">Veuillez entrer un titre</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="form-control-label text-md-right col-3"></label>
        <div class="col-7">
          <div class="input-group ">
            <span class="input-group-prepend"> </span>
            <mat-form-field class="example-full-width">
              <mat-icon matSuffix>contacts</mat-icon>
              <mat-label>Choisir la salle</mat-label>
              <mat-select formControlName="room">
                <mat-option *ngFor="let room of rooms" [value]="room.value">
                  {{ room.viewValue }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="room.invalid">Veuillez mettre une salle</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="form-control-label text-md-right col-3"></label>
        <div class="col-7">
          <div class="input-group">
            <span class="input-group-prepend"> </span>
            <mat-form-field class="example-full-width">
              <mat-icon matSuffix>date_range</mat-icon>
              <input
                matInput
                formControlName="start"
                mwlFlatpickr
                placeholder="Choisir la date et l'heure du début du cours"
                [enableTime]="true"
                dateFormat="Y-m-dTH:i"
              />
              <mat-error *ngIf="start.invalid">Veillez rentrer l'heure de début</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="form-control-label text-md-right col-3"></label>
        <div class="col-7">
          <div class="input-group ">
            <mat-form-field class="example-full-width">
              <mat-icon matSuffix>date_range</mat-icon>
              <input
                matInput
                formControlName="end"
                mwlFlatpickr
                placeholder="Choisir la date et l'heure de la fin du cours"
                [enableTime]="true"
                dateFormat="Y-m-dTH:i"
              />
              <mat-error *ngIf="end.invalid">Veillez rentrer l'heure de fin</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="form-control-label text-md-right col-3"></label>
        <div class="col-7">
          <div class="input-group ">
            <span class="input-group-prepend"> </span>
            <mat-form-field class="example-full-width">
              <mat-icon matSuffix>color_lens</mat-icon>
              <input
                formControlName="color"
                type="color"
                matInput
                placeholder="Couleur contour"
              />
              <mat-error *ngIf="color.invalid">Veuillez mettre une couleur pour le contour</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="form-control-label text-md-right col-3"></label>
        <div class="col-7">
          <div class="input-group ">
            <span class="input-group-prepend"> </span>
            <mat-form-field class="example-full-width">
              <mat-icon matSuffix>color_lens</mat-icon>
              <input
                formControlName="color2"
                matInput
                type="color"
                placeholder="Couleur remplissage"
              />
              <mat-error *ngIf="color2.invalid">Veuillez mettre une couleur pour le remplissage</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="form-control-label text-md-right col-3"></label>
        <div class="col-7">
          <label>Prof :</label>
          <app-prof-select [form]="form"></app-prof-select>
        </div>
      </div>
      <div class="form-group row">
        <label class="form-control-label text-md-right col-3"></label>
        <div class="col-7">
            <label>Matiere :</label>
          <app-matiere-select [form]="form"></app-matiere-select>
        </div>
      </div>
    </fieldset>
    <div class="form-actions" style="text-align: center;">
      <button
        type="button"
        class="btn btn-outline-danger btn-rounded "
        (click)="close()"
      >
        <i class="glyphicon glyphicon-remove"></i>&nbsp;Annuler
      </button>
      <button type="submit" class="btn btn-success btn-rounded">
        <i class="glyphicon glyphicon-ok"></i>&nbsp;Valider
      </button>
    </div>
  </form>
</div>
