<div class="container">
<form
  class="form-horizontal form-label-left parsleyjs ng-untouched ng-pristine ng-valid"
  [formGroup]="form"
  (submit)="save()"
  #formDir="ngForm"
>
<fieldset>
    <h5 style="text-align: center;">Veuillez renseigner les informations ci-dessous...</h5>
  <div class="form-group row">
      <label class="form-control-label text-md-right col-3"></label>
      <div class="col-7">
          <div class="input-group ">
            <span class="input-group-prepend">
            </span>
            <mat-form-field class="example-full-width">
                <mat-icon matSuffix>contacts</mat-icon>
                <input
                formControlName="title"
                type="text"
                matInput placeholder="Titre"
                #message maxlength="10"
                >
              <mat-hint align="end">{{message.value.length}} / 10</mat-hint>
            </mat-form-field>
        </div>
      </div>
  </div>
  <div class="form-group row">
    <label class="form-control-label text-md-right col-3"></label>
    <div class="col-7">
        <div class="input-group ">
          <span class="input-group-prepend">
          </span>
          <mat-form-field class="example-full-width">
              <mat-icon matSuffix>contacts</mat-icon>
              <input
              formControlName="room"
              type="text"
              matInput placeholder="Numéro Salle"
              #message maxlength="10"
              >
            <mat-hint align="end">{{message.value.length}} / 10</mat-hint>
          </mat-form-field>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="form-control-label text-md-right col-3"></label>
        <div class="col-7">
            <div class="input-group">
              <span class="input-group-prepend">
              </span>
              <mat-form-field class="example-full-width">
                  <mat-icon matSuffix>date_range</mat-icon>
                  <input matInput
                  formControlName="start"
                  mwlFlatpickr
                  placeholder="Choisir une date"
                  [convertModelValue]="true"
                  [enableTime]="true"
                  dateFormat="Y-m-dTH:i"
                  altFormat="F j, Y H:i"
                    >
                </mat-form-field>
            </div>
        </div>
  </div>
  <div class="form-group row">
      <label class="form-control-label text-md-right col-3" ></label>
      <div class="col-7">
          <div class="input-group ">
            <mat-form-field class="example-full-width">
              <mat-icon matSuffix>date_range</mat-icon>
              <input matInput
              formControlName="end"
              mwlFlatpickr
              placeholder="Choisir une date"
              [convertModelValue]="true"
              [enableTime]="true"
              dateFormat="Y-m-dTH:i"
              altFormat="F j, Y H:i"
                >
              </mat-form-field>
        </div>
      </div>
  </div>
  <div class="form-group row">
      <label class="form-control-label text-md-right col-3"></label>
      <div class="col-7">
          <div class="input-group ">
            <span class="input-group-prepend">
            </span>
            <mat-form-field class="example-full-width">
                <mat-icon matSuffix>color_lens</mat-icon>
                <input
                  formControlName="color"
                  type="color"
                  matInput placeholder="Couleur"
                  >
              </mat-form-field>
        </div>
      </div>
  </div>
  <div class="form-group row">
    <label class="form-control-label text-md-right col-3"></label>
    <div class="col-7">
        <div class="input-group ">
          <span class="input-group-prepend">
          </span>
          <mat-form-field class="example-full-width">
              <mat-icon matSuffix>color_lens</mat-icon>
              <input
                formControlName="color2"
                type="color"
                matInput placeholder="Couleur"
                >
            </mat-form-field>
      </div>
    </div>
</div>
  <div class="form-group row">
      <label class="form-control-label text-md-right col-3" >Prof :</label>
      <div class="col-7">
          <app-prof-select [form]="form"></app-prof-select>
      </div>
  </div>
  <div class="form-group row">
      <label class="form-control-label text-md-right col-3" >Année :</label>
      <div class="col-7">
          <app-classe-select [form]="form"></app-classe-select>
      </div>
  </div>
  <div class="form-group row">
    <label class="form-control-label text-md-right col-3">Matière :</label>
    <div class="col-7">
        <app-matiere-select [form]="form"></app-matiere-select>
    </div>
</div>
  </fieldset>
<div class="form-actions" style="text-align: center;">
  <button
  type="button"
  class="btn btn-outline-danger btn-rounded "
  (click)="close()"
  >
<i class="glyphicon glyphicon-remove"></i>&nbsp;Annuler
</button>
<button type="submit" class="btn btn-success btn-rounded"><i class="glyphicon glyphicon-ok"></i>&nbsp;Valider</button>
</div>
</form>
</div>
