<div class="container">
    <br />
    <h2 style="text-align:center">Classes </h2>
    <button class="btn btn-outline-primary" style="margin-left: 91%;" (click)="pnlClasse.display()"><i class="fas fa-plus"></i>&nbsp;Ajouter</button>
    <hr>
    <br />
    <br />
    <div class="widget-body">
    <table class="table table-hover table-striped table-bordered">
      <thead>
        <tr>
          <th>
            nom
          </th>
          <th>
            Niveau
          </th>
          <th>
            Année
          </th>
        </tr>
      </thead>
        <tr id="list" *ngFor="let classe of classes">
          <td>
            {{ classe.nom }}
          </td>
          <td>
            {{ classe.niveauName }}
          </td>
          <td>
            {{ classe.anneeName }}
          </td>
          <td style="width: 10%">
            <div class="dropdown">
              <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-cogs"></i>&nbsp; Actions
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" (click)="openClasse(classe); pnlClasse.display();" style="cursor: pointer;" ><i class="far fa-edit"></i>&nbsp;&nbsp;Modifier</a>
                <a class="dropdown-item" (click)="deleteClasse(classe)" style="cursor: pointer; background-color: rgb(246, 179, 179);"><i class="far fa-trash-alt"></i>&nbsp;&nbsp;Supprimer</a>
              </div>
            </div>
          </td>
        </tr>
    </table>
  </div>
  </div>
  <app-app-slide-panel #pnlClasse>
    <div panel-header style="text-align: center;">
      <h4>Formulaire Classe</h4>
    </div>
    <div panel-body>
      <app-classe-form
        (onCreating)="onClasseCreated($event); pnlClasse.hide()"
        (onUpdating)="onClasseUpdated($event); pnlClasse.hide()"
        (onClose)="pnlClasse.hide()">
      </app-classe-form>
    </div>
  </app-app-slide-panel>

