<div class="container">
    <br />
    <h2 style="text-align:center">Classes </h2>
    <button class="btn btn-outline-primary" style="margin-left: 91%;" (click)="pnlClasse.display()"><i class="fas fa-plus"></i>&nbsp;Ajouter</button>
    <hr>
    <br />
    <br />
    <mat-form-field>
        <input
          matInput
          (keyup)="applyFilter($event.target.value)"
          placeholder="Rechercher un classe"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource2">
          <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef>Nom</th>
            <td mat-cell *matCellDef="let classe">{{ classe.nom }}</td>
          </ng-container>

          <ng-container matColumnDef="niveauName">
            <th mat-header-cell *matHeaderCellDef>Niveau</th>
            <td mat-cell *matCellDef="let classe">{{ classe.niveauName }}</td>
          </ng-container>

          <ng-container matColumnDef="anneeName">
            <th mat-header-cell *matHeaderCellDef>Annee</th>
            <td mat-cell *matCellDef="let classe">{{ classe.anneeName }}</td>
          </ng-container>

          <ng-container matColumnDef="actions" stickyEnd>
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let classe">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item [routerLink]="['/classes/detail/', classe.id]">
                  <mat-icon>info</mat-icon>
                  <span>Détails</span>
                </button>
                <button mat-menu-item (click)="openClasse(classe); pnlClasse.display()">
                  <mat-icon>edit</mat-icon>
                  <span>Modifier</span>
                </button>
                <button mat-menu-item (click)="deleteClasse(classe)">
                  <mat-icon>delete</mat-icon>
                  <span>Supprimer</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let classe; columns: displayedColumns"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
  </div>
  <app-app-slide-panel #pnlClasse>
    <div panel-header style="text-align: center;">
      <h4>Formulaire Classe</h4>
    </div>
    <div panel-body>
      <app-classe-form
        (onCreating)="onClasseCreated($event); pnlClasse.hide()"
        (onUpdating)="onClasseUpdated($event); pnlClasse.hide()"
        (onClose)="pnlClasse.hide()">
      </app-classe-form>
    </div>
  </app-app-slide-panel>

