<div class="container">
    <br />
    <h2 style="text-align:center">Classes : </h2>
    <hr>
    <br />
    <br />
    <div class="widget-body">
    <table class="table table-hover table-striped table-bordered">
      <thead>
        <tr>
          <th>
            nom
          </th>
        </tr>
      </thead>
        <tr id="list" *ngFor="let classe of classes">
          <td>
            {{ classe.nom }}

            <td style="width: 10%">
              <button class="btn btn-primary"[routerLink]="['/classes/detail/',classe.id]">Details</button>
            </td>
        </tr>
    </table>
  </div>
  </div>
