<div class="modal-header">
  <h4 class="modal-title pull-left">Supprimer {{ niveau.nom }} ?</h4>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  bruh tu veux vraiment supprimer là ?
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-success"
    form="rolesForm"
    (click)="deleteNiveau(niveau)" (click)="bsModalRef.hide()"
  >
    Valider
  </button>
  <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">
    Annuler
  </button>
</div>
