<div class="container">
<br>
<h2 style="text-align: center;">Planning</h2>
<button class="btn btn-outline-primary" style="margin-left: 95%;" (click)="pnlCoursCreated.display()"><i class="fas fa-plus"></i></button>
<hr>
<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Précédent
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Aujourd'hui
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Suivant
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate: view + "ViewTitle":"fr" }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Month)"
          [class.active]="view === CalendarView.Month"
        >
          Mois
        </div>
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Week)"
          [class.active]="view === CalendarView.Week"
        >
          Semaine
        </div>
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Day)"
          [class.active]="view === CalendarView.Day"
        >
          Jour
        </div>
      </div>
    </div>
  </div>
  <br />
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [locale]="locale"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [weekStartsOn]="1"
      [dayStartHour]="8"
      [dayEndHour]="17"
      [locale]="locale"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [locale]="locale"
      [dayStartHour]="8"
      [dayEndHour]="17"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-day-view>
  </div>
</div>

  <br /><br /><br />

  <h3>
    Liste des cours
    <div class="clearfix"></div>
  </h3>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Titre</th>
        <th>Commence à</th>
        <th>Finis le</th>
        <th>Prof</th>
        <th>Matiere</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr id="list" *ngFor="let event of courss">
        <td>
          {{event.title}}
        </td>
        <td>
          {{event.start}}
        </td>
        <td>
          {{event.end}}
        </td>
        <td>
          {{event.profName}}
        </td>
        <td>
          {{event.matiereName}}
        </td>
          <td style="width: 10%">
            <div class="dropdown">
              <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-cogs"></i>&nbsp; Actions
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" (click)="openCours(event); pnlCoursEdit.display();" style="cursor: pointer;" ><i class="far fa-edit"></i>&nbsp;&nbsp;Modifier</a>
                <a class="dropdown-item" (click)="deleteCours(event)" style="cursor: pointer; background-color: rgb(246, 179, 179);"><i class="far fa-trash-alt"></i>&nbsp;&nbsp;Supprimer</a>
              </div>
            </div>
          </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<app-app-slide-panel #pnlCoursEdit>
  <div panel-header style="text-align: center;">
    <h4>Modifier remplissage Planning</h4>
  </div>
  <div panel-body>
    <app-cours-form-edit
      (onUpdating)="onCoursUpdated($event); pnlCoursEdit.hide()"
      (onClose)="pnlCoursEdit.hide()"
    >
    </app-cours-form-edit>
  </div>
</app-app-slide-panel>
<app-app-slide-panel #pnlCoursCreated>
  <div panel-header style="text-align: center;">
    <h4>Remplissage Planning</h4>
  </div>
  <div panel-body>
    <app-cours-form
      (onCreating)="onCoursCreated($event); pnlCoursCreated.hide()"
      (onClose)="pnlCoursCreated.hide()"
    >
    </app-cours-form>
  </div>
</app-app-slide-panel>

<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="closeOpenMonthViewDay()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="closeOpenMonthViewDay()"
    >
      OK
    </button>
  </div>
</ng-template>
