<div class="container mt-5">
    <div *ngIf="!registerMode" style="text-align:center">
      <h2>Bienvenue dans votre application !</h2>
      <p class="lead">Gérez les plannings de votre établissement</p>
      <div class ="text-center">
        <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">Inscription</button>
      </div>
    </div>



    <div *ngIf="registerMode" class="container">
      <div class="row justify-content-center">
        <div class="col-4">
          <br />
          <app-register (cancelRegister)="cancelRegisterMode($event)" ></app-register>
        </div>
      </div>
    </div>
  </div>
