<div class="container">
    <br />
    <h2 style="text-align:center">cours</h2>
    <button class="btn btn-outline-primary"  (click)="pnlCours.display()">Ajouter</button>
    &nbsp;&nbsp;
    <button class="btn btn-primary"[routerLink]="['/courss/calendar/']">Calendrier</button>
    <hr>
    <br />
    <br />
    <div class="widget-body">
    <table class="table table-hover table-striped table-bordered">
      <thead>
        <tr>
          <th>
            Titre
          </th>
          <th>
            Contenu
          </th>
          <th>
            Date
          </th>
          <th>
            Heure de début
          </th>
          <th>
            Heure de fin
          </th>
          <th>
            Couleur
          </th>
          <th>
            professeurId
          </th>
          <th>
            matiereId
          </th>
          <th>
            anneeId
          </th>
        </tr>
      </thead>
        <tr id="list" *ngFor="let cours of courss">
          <td>
            {{ cours.title }}
          </td>
          <td>
            {{ cours.contenu }}
          </td>
          <td>
            {{ cours.start }}
          </td>
          <td>
            {{ cours.end }}
          </td>
          <td>
            {{ cours.color }}
          </td>
          <td>
            {{ cours.professeurId }}
          </td>
          <td>
            {{ cours.matiereId }}
          </td>
          <td>
            {{ cours.anneeId }}
          </td>
          <td style="width: 10%">
            <button class="btn btn-primary"[routerLink]="['/courss/detail/' + cours.id]">Details</button>
          </td>
        </tr>
    </table>
  </div>
  </div>
  <app-app-slide-panel #pnlCours>
    <div panel-header style="text-align: center;">
      <h4>Remplissage Planning</h4>
    </div>
    <div panel-body>
      <app-cours-form
        (onCreating)="onCoursCreated($event); pnlCours.hide()"
        (onUpdating)="onCoursUpdated($event); pnlCours.hide()"
        (onClose)="pnlCours.hide()">
      </app-cours-form>
    </div>
  </app-app-slide-panel>
