<div class="container">
  <h2 style="text-align:center">Eleve</h2>
  <button
    class="btn btn-outline-primary"
    style="margin-left: 91%;"
    (click)="pnlEleveCreated.display()"
  >
    <i class="fas fa-plus"></i>&nbsp;Ajouter
  </button>
  <hr />
  <br />

  <mat-form-field>
    <input
      matInput
      [(ngModel)]="searchText"
      placeholder="Rechercher un élève"
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <div class="widget-body">
    <table class="table table-hover table-striped table-bordered">
      <thead>
        <tr>
          <th>
            nom
          </th>
          <th>
            prenom
          </th>
          <th>
            adresse
          </th>
          <th>
            mail
          </th>
          <th>
            telephone
          </th>
          <th>
            Date de Naissance
          </th>
          <th>
            Classe
          </th>
        </tr>
      </thead>
      <tr id="list" *ngFor="let eleve of eleves | filter: searchText">
        <td>
          {{ eleve.nom }}
        </td>
        <td>
          {{ eleve.prenom }}
        </td>
        <td>
          {{ eleve.adresse }}
        </td>
        <td>
          {{ eleve.mail }}
        </td>
        <td>
          {{ eleve.telephone }}
        </td>
        <td>
          {{ eleve.dateNaissance | date: "mediumDate" }}
        </td>
        <td>
          {{ eleve.classeName }}
        </td>
        <td style="width: 10%">
          <div class="dropdown">
            <button
              class="btn btn-outline-info dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-cogs"></i>&nbsp; Actions
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a
                class="dropdown-item"
                (click)="openEleve(eleve); pnlEleveEdit.display()"
                style="cursor: pointer;"
                ><i class="far fa-edit"></i>&nbsp;&nbsp;Modifier</a
              >
              <a
                class="dropdown-item"
                (click)="deleteEleve(eleve)"
                style="cursor: pointer; background-color: rgb(246, 179, 179);"
                ><i class="far fa-trash-alt"></i>&nbsp;&nbsp;Supprimer</a
              >
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <app-app-slide-panel #pnlEleveEdit>
    <div panel-header style="text-align: center;">
      <h4>Modifications formulaires élèves</h4>
    </div>
    <div panel-body>
      <app-eleve-form-edit
        (onUpdating)="onEleveUpdated($event); pnlEleveEdit.hide()"
        (onClose)="pnlEleveEdit.hide()"
      >
      </app-eleve-form-edit>
    </div>
  </app-app-slide-panel>
  <app-app-slide-panel #pnlEleveCreated>
    <div panel-header style="text-align: center;">
      <h4>Formulaire Elève</h4>
    </div>
    <div panel-body>
      <app-eleve-form
        (onCreating)="onEleveCreated($event); pnlEleveCreated.hide()"
        (onClose)="pnlEleveCreated.hide()"
      >
      </app-eleve-form>
    </div>
  </app-app-slide-panel>
</div>
