<div class="container">
  <br />
  <h2 style="text-align:center">Eleve</h2>
  <button class="btn btn-outline-primary" style="margin-left: 91%;" (click)="pnlEleve.display()">Ajouter</button>
  <hr>
  <br />
  <br />
  <div class="widget-body">
  <table class="table table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th>
          nom
        </th>
        <th>
          prenom
        </th>
        <th>
          adresse
        </th>
        <th>
          mail
        </th>
        <th>
          telephone
        </th>
        <th>
          Date de Naissance
        </th>
      </tr>
    </thead>
      <tr id="list" *ngFor="let eleve of eleves">
        <td>
          {{ eleve.nom }}
        </td>
        <td>
          {{ eleve.prenom }}
        </td>
        <td>
          {{ eleve.adresse }}
        </td>
        <td>
          {{ eleve.mail }}
        </td>
        <td>
          {{ eleve.telephone }}
        </td>
        <td>
          {{ eleve.dateNaissance }}
        </td>
          <td style="width: 10%">
            <button class="btn btn-primary"[routerLink]="['/eleves/detail/',eleve.id]">Details</button>
          </td>
      </tr>
  </table>
</div>
</div>
<app-app-slide-panel #pnlEleve>
  <div panel-header style="text-align: center;">
    <h4>Formulaire Elève</h4>
  </div>
  <div panel-body>
    <app-eleve-form
      (onCreating)="onEleveCreated($event); pnlEleve.hide()"
      (onUpdating)="onEleveUpdated($event); pnlEleve.hide()"
      (onClose)="pnlEleve.hide()">
    </app-eleve-form>
  </div>
</app-app-slide-panel>
