<div class="container">
  <h2 style="text-align:center">Eleve</h2>
  <button
    class="btn btn-outline-primary"
    style="margin-left: 91%;"
    (click)="pnlEleveCreated.display()"
  >
    <i class="fas fa-plus"></i>&nbsp;Ajouter
  </button>
  <hr />
  <br />

  <mat-form-field>
    <input
      matInput
      (keyup)="applyFilter($event.target.value)"
      placeholder="Rechercher un élève"
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let eleve">{{ eleve.nom }}</td>
      </ng-container>

      <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef>Prénom</th>
        <td mat-cell *matCellDef="let eleve">{{ eleve.prenom }}</td>
      </ng-container>

      <ng-container matColumnDef="dateNaissance">
        <th mat-header-cell *matHeaderCellDef>Date de naissance</th>
        <td mat-cell *matCellDef="let eleve">{{ eleve.dateNaissance | date: 'shortDate' }}</td>
      </ng-container>

      <ng-container matColumnDef="adresse">
        <th mat-header-cell *matHeaderCellDef>Addresse</th>
        <td mat-cell *matCellDef="let eleve">{{ eleve.adresse }}</td>
      </ng-container>

      <ng-container matColumnDef="mail">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let eleve">{{ eleve.mail }}</td>
      </ng-container>

      <ng-container matColumnDef="telephone">
        <th mat-header-cell *matHeaderCellDef>Téléphone</th>
        <td mat-cell *matCellDef="let eleve">{{ eleve.telephone }}</td>
      </ng-container>

      <ng-container matColumnDef="classeId">
        <th mat-header-cell *matHeaderCellDef>Classe</th>
        <td mat-cell *matCellDef="let eleve">{{ eleve.classeId }}</td>
      </ng-container>

      <ng-container matColumnDef="actions" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let eleve">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/eleves/detail/', eleve.id]">
              <mat-icon>info</mat-icon>
              <span>Détails</span>
            </button>
            <button
              mat-menu-item
              (click)="openEleve(eleve); pnlEleveEdit.display()"
            >
              <mat-icon>edit</mat-icon>
              <span>Modifier</span>
            </button>
            <button mat-menu-item (click)="deleteEleve(eleve)">
              <mat-icon>delete</mat-icon>
              <span>Supprimer</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let eleve; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
<app-app-slide-panel #pnlEleveEdit>
  <div panel-header style="text-align: center;">
    <h4>Modifications formulaires élèves</h4>
  </div>
  <div panel-body>
    <app-eleve-form-edit
      (onUpdating)="onEleveUpdated($event); pnlEleveEdit.hide()"
      (onClose)="pnlEleveEdit.hide()">
    </app-eleve-form-edit>
  </div>
</app-app-slide-panel>
<app-app-slide-panel #pnlEleveCreated>
  <div panel-header style="text-align: center;">
    <h4>Formulaire Elève</h4>
  </div>
  <div panel-body>
    <app-eleve-form
      (onCreating)="onEleveCreated($event); pnlEleveCreated.hide()"
      (onClose)="pnlEleveCreated.hide()"
    >
    </app-eleve-form>
  </div>
</app-app-slide-panel>
