<div class="container">
    <section class="widget">
      <header>
        <br />
        <h2 style="text-align: center">Prof numéro {{classes.id}}</h2>
        <hr/>
      </header>
      <br />
      <div class="widget-controls" style="text-align: right">
      </div>
      <br>
      <table class="table table-hover table-bordered table-striped">
          <tbody>
            <tr>
              <th style="width: 50%" scope="row">Nom</th>
              <td style="text-align: center">
                  {{ classes.nom }}
                </td>
            </tr>
          </tbody>
      </table>
      <br />
        <button class="btn btn-primary btn-rounded-f" [routerLink]="['/classes/list/']">
          Retour
        </button>
    </section>
    </div>


