<div class="container">
  <br />
  <br>
  <h2 style="text-align:center">Professeurs</h2>
  <button
    class="btn btn-outline-primary"
    style="margin-left: 91%;"
    (click)="pnlProfCreated.display()"
  >
    <i class="fas fa-plus"></i>&nbsp;Ajouter
  </button>
  <hr />
  <br />
  <br />
  <mat-form-field>
      <input
        matInput
        [(ngModel)]="searchText"
        placeholder="Rechercher un prof"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  <div class="widget-body">
    <table class="table table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th>
          nom
        </th>
        <th>
          prenom
        </th>
        <th>
          adresse
        </th>
        <th>
          mail
        </th>
        <th>
          telephone
        </th>
      </tr>
    </thead>
      <tr id="list" *ngFor="let prof of profs | filter: searchText">
        <td>
          {{ prof.nom }}
        </td>
        <td>
          {{ prof.prenom }}
        </td>
        <td>
          {{ prof.adresse }}
        </td>
        <td>
          {{ prof.mail }}
        </td>
        <td>
          {{ prof.telephone }}
        </td>
        <td style="width: 10%">
          <div class="dropdown">
            <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-cogs"></i>&nbsp; Actions
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item text-dark" role="button" [routerLink]="['/profs/detail/',prof.id]"><i class="fas fa-info-circle"></i>&nbsp;&nbsp;Details</a>
              <a class="dropdown-item" (click)="openProf(prof); pnlProfEdit.display();" style="cursor: pointer;" ><i class="far fa-edit"></i>&nbsp;&nbsp;Modifier</a>
              <a class="dropdown-item" (click)="deleteProf(prof)" style="cursor: pointer; background-color: rgb(246, 179, 179);"><i class="far fa-trash-alt"></i>&nbsp;&nbsp;Supprimer</a>
            </div>
          </div>
        </td>
      </tr>
  </table>
</div>
</div>
<app-app-slide-panel #pnlProfEdit>
  <div panel-header style="text-align: center;">
    <h4>Modifier formulaire Prof</h4>
  </div>
  <div panel-body>
    <app-prof-form-edit
      (onUpdating)="onProfUpdated($event); pnlProfEdit.hide()"
      (onClose)="pnlProfEdit.hide()"
    >
    </app-prof-form-edit>
  </div>
</app-app-slide-panel>
<app-app-slide-panel #pnlProfCreated>
  <div panel-header style="text-align: center;">
    <h4>Formulaire Prof</h4>
  </div>
  <div panel-body>
    <app-prof-form
      (onCreating)="onProfCreated($event); pnlProfCreated.hide()"
      (onClose)="pnlProfCreated.hide()"
    >
    </app-prof-form>
  </div>
</app-app-slide-panel>
