<mat-sidenav-container>
    <mat-sidenav mode="over" [(opened)]="opened">
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" style="text-align: center;" class="list-group-item list-group-item-action list-group-item-light" routerLink="annees" (click)="opened=!opened">Annees</a>
            </li>
            <br>
            <li class="nav-item">
                <a class="nav-link" style="text-align: center;" class="list-group-item list-group-item-action list-group-item-light" routerLink="courss" (click)="opened=!opened">Cours</a>
            </li>
            <br>
            <li class="nav-item">
               <a class="nav-link" style="text-align: center;" class="list-group-item list-group-item-action list-group-item-light" routerLink="eleves" (click)="opened=!opened">Eleve</a>
            </li>
            <br>
            <li class="nav-item">
               <a class="nav-link" style="text-align: center;" class="list-group-item list-group-item-action list-group-item-light" routerLink="profs" (click)="opened=!opened">Profs</a>
            </li>
          </ul>
</mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="opened=!opened">
        <mat-icon>menu</mat-icon>
      </button>

      <h2 style="margin-right: 40%">Gestion de Planning</h2>
      </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

