mat-sidenav-container {
  height: 100%
}

mat-sidenav, mat-sidenav-content {
  padding: 16px;
}

mat-sidenav {
  background-color: whitesmoke;
  width:250px;
}

mat-toolbar {
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
}

button:focus {
  outline: 0;
}
