<mat-sidenav-container>
    <mat-sidenav mode="over" [(opened)]="opened">
        <mat-toolbar>
            <mat-toolbar-row>
              <h2>Gestion de Planning</h2>
            </mat-toolbar-row>
          </mat-toolbar>
          <mat-divider></mat-divider>
          <mat-nav-list>
          <ul class="navbar-nav">
            <li class="nav-item">
                <mat-list-item routerLink="annees" (click)="opened=!opened">Annees<mat-icon matListIcon>date_range</mat-icon></mat-list-item>
            </li>
            <br>
            <li class="nav-item">
                <mat-list-item class="nav-link" style="text-align: center;" routerLink="courss" (click)="opened=!opened">Planning<mat-icon matListIcon>book</mat-icon></mat-list-item>
            </li>
            <br>
            <li class="nav-item">
               <mat-list-item class="nav-link" style="text-align: center;" routerLink="eleves" (click)="opened=!opened">Eleve<mat-icon matListIcon>account_box</mat-icon></mat-list-item>
            </li>
            <br>
            <li class="nav-item">
               <mat-list-item class="nav-link" style="text-align: center;" routerLink="profs" (click)="opened=!opened">Profs<mat-icon matListIcon>supervisor_account</mat-icon></mat-list-item>
            </li>
            <br>
            <li class="nav-item">
               <mat-list-item class="nav-link" style="text-align: center;" routerLink="classes" (click)="opened=!opened">Classes<mat-icon matListIcon>work</mat-icon></mat-list-item>
            </li>
            <br>
            <li class="nav-item">
              <mat-list-item class="nav-link" style="text-align: center;" routerLink="niveaux" (click)="opened=!opened">Niveau<mat-icon matListIcon>trending_up</mat-icon></mat-list-item>
           </li>
           <br>
           <li class="nav-item">
             <mat-list-item class="nav-link" style="text-align: center;" routerLink="matieres" (click)="opened=!opened">Matières<mat-icon matListIcon>menu_book</mat-icon></mat-list-item>
          </li>
          </ul>
        </mat-nav-list>
            </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="opened=!opened">
        <mat-icon>menu</mat-icon>
      </button>
      <h2 style="margin-right: 40%">Gestion de Planning</h2>
      </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

